$black:#000000;
$black-text: #404040;
$orange: #ff7800;
$opacity-orange: rgba(243, 112, 15, 0.47);
$gray-bg: #f8f9f6;
$gray-light-text: #5f5f5f;
$gray-border: #cbcbcb;
$lighten-gray:#f3f3f3;
$dark-gray: #6a6a6a;
$green: #85c871;

@mixin font-regular {
  font-family: 'PTSans-Regular';
}

@mixin font-italic {
  font-family: 'PTSans-Italic';
  font-style: italic;
}

@mixin font-bold {
  font-family: 'PTSans-Bold';
  font-weight: bold;
}

@function rem($px){
	@return $px / 16px + 0rem;
}