.header {
  position: fixed;
  left: 0;
  top: 0;
  min-height: rem(122px);
  padding-top: rem(11px);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $black-text;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 21px 0 rgba(150, 150, 150, 0.35);
  transition: min-height .3s ease-out;
  @include tablets {
    min-height: rem(79px);
  }
  &.fixed {
    min-height: rem(79px);
    .header__group--down {
      display: none;
    }
    .header__nav {
      position: absolute;
      top: rem(17px);
      left: rem(126px);
    }
    .header__logo {
      width: rem(75px);
      @include tablets {
        width: rem(89px);
      }
    }
  }
  &.active {
    .header__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: $overlay;
    }
    .header__phone {
      font-size: rem(30px);
      color: #fff;
      z-index: 3;
    }
    .header__btn-personal {
      position: fixed;
      display: inline-flex;
      z-index: 2;
      left: 2%;
      top: rem(90px);
      font-size: rem(24px);
      padding: 0 rem(25px);
      line-height: rem(50px);
    }
    .header__btn-1c {
      position: fixed;
      display: inline-flex;
      z-index: 2;
      top: rem(150px);
      left: 2%;
      font-size: rem(24px);
      padding: 0 rem(25px);
      line-height: rem(52px);
    }
    .header__group--down {
      position: fixed;
      display: flex;
      z-index: 2;
      flex-wrap: wrap;
      width: 50%;
      color: #fff;
      top: rem(90px);
      right: 2%;
      flex-direction: column;
      align-items: flex-end;
    }
    .header__transparent-btn {
      font-size: rem(35px);
      margin-right: 0;
      margin-bottom: rem(20px);
      @include phones {
        font-size: rem(25px);
      }
    }
    .header__search-form {
      margin-bottom: rem(20px);
    }
    .header__search-input {
      padding: rem(10px) rem(10px);
    }
    .header__search-submit {
      min-height: rem(40px);
    }
    .header__languages {
      font-size: rem(25px);
      position: fixed;
      left: 2%;
      top: rem(210px);
    }
  }
}

.header__nav {
  @include tablets {
    display: none;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(11px);
  @include tablets {
    padding-bottom: 0;
  }
}

.header__group {
  display: flex;
  align-items: center;
  &--down {
    @include tablets {
      display: none;
    }
  }
}

.header__logo {
  width: rem(89px);
}

.header__menu {
  display: flex;
  font-size: rem(18px);
  @include tablets {
    flex-direction: column;
    text-align: center;
    font-size: rem(40px);
    padding-top: rem(100px);
  }
}

.header__phone {
  @include font-bold;
  font-size: rem(20px);
  color: inherit;
  margin-right: rem(19px);
}

.header__menu-link {
  color: inherit;
  &--submenu {
    &:after {
      content:'';
      width: 9px;
      height: 6px;
      background: url('../images/icons/polygon.png') center center / contain no-repeat;
      @include tablets {
        background: url('../images/icons/polygon-white.png') center center / contain no-repeat;
      }
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
    &.active {
      @include font-bold;
    }
  }
}

.header__menu-item {
  margin-right: rem(29px);
  @include tablets {
    margin-right: 0;
    margin-bottom: rem(30px);
  }
}

.header__btn-personal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: rem(35px);
  padding: 0 13px;
  background-color: $lighten-gray;
  color: inherit;
  border-radius: 6px;
  margin-right: rem(11px);
  white-space: nowrap;
  &:before {
    content:'';
    width: rem(14px); 
    height: rem(14px);
    margin-right: rem(8px);
    background: url('../images/icons/personal-account.png') center center / contain no-repeat;
  }
  @include tablets {
    display: none;
  }
}

.header__btn-1c {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: rem(37px);
  padding: 0 15px;
  background-color: $orange;
  color: #fff;
  white-space: nowrap;
  border-radius: 6px;
  &:before {
    content:'';
    width: rem(16px); 
    height: rem(14px);
    margin-right: rem(15px);
    background: url('../images/icons/download.png') center center / contain no-repeat;
  }
  @include tablets {
    display: none;
  }
}

.header__transparent-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  transition: color .3s ease-out;
  margin-right: rem(17px);
  font-size: rem(15px);
  &:before {
    content:'';
    width: rem(19px); 
    height: rem(18px);
    margin-right: rem(7px);
    background: center center / contain no-repeat;
  }
  &:hover {
    color: orange;
  }
  &--director {
    &:before {
      background-image: url('../images/icons/mailto.png');
    }
  }
  &--support {
    &:before {
      background-image: url('../images/icons/support.png');
    }
  }
}

.header__search-form {
  position: relative;
  margin-right: rem(9px);
}

.header__search-input {
  border-radius: 6px;
  padding: rem(7px) rem(11px);
  background-color: $lighten-gray;
  border: none;
  outline: 0;
  width: 0;
  transition: width .3s ease-out;
  &.active {
    width: rem(143px);
  }
}

.header__search-submit {
  outline: 0;
  font-size: 0px;
  border-radius: 6px;
  width: rem(32px);
  height: rem(32px);
  background: url('../images/icons/search.png') center center / 50% no-repeat $lighten-gray;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}



.header__submenu {
  background-color: $gray-bg;
  padding: rem(16px) 0;
  display: none;
  &.active {
    display: block;
    @include tablets {
      position: fixed;
      width: 100%;
      bottom: 0;
      font-size: 30px;
      z-index: 5;
    }
  }
}

.header__submenu-list {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
  }
}

.header__submenu-item {
  margin-right: rem(32px);
}

.header__submenu-link {
  color: inherit;
}

.header__language-select {
  outline: 0;
  background-color: $lighten-gray;
  border-radius: 6px;
  border: none;
}